# Fizik Lab I Uygulama

Ölçüm verileri:
- `cube_ruler`: Cetvel ile küp üzerinde yapılan ölçümler.
- `sphere_caliper`: Küre üzerinde kompas ile yapılan ölçümler.
- `sphere_micrometer`: Küre üzerinde mikrometre ile yapılan ölçümler.

In [1]:
from calc import (cube_ruler, sphere_caliper, sphere_micrometer,
            get_absolute_error, get_relative_error, standard_deviation,
            absolute_error_dataframe, relative_error_dataframe, std_df,
            sphere_volume, sphere_volume_df)

In [2]:
cube_ruler ## cm

[4.45, 4.4, 4.45, 4.4, 4.45, 4.45, 4.4, 4.45, 4.4, 4.45]

In [3]:
sphere_caliper # mm

[23.02, 23.7, 23.8, 23.84, 23.9, 23.68, 23.8, 23.7, 23.8, 23.7]

In [4]:
sphere_micrometer # mm

[23.06,
 23.05,
 23.49,
 23.48,
 23.47,
 23.01,
 23.49,
 23.49,
 23.02,
 23.06,
 23.03,
 23.0,
 23.02,
 23.07,
 23.08,
 23.11,
 23.03,
 23.02,
 23.49,
 23.47]

## 1. Aritmetik Ortalama ($\overline{\mu}$)

$$ Mean = (\overline{\mu}) = \frac{1}{N} \sum_{i=1}^{N} x_i$$

In [5]:
cube_mean = round(sum(cube_ruler) / len(cube_ruler), 2)
sphere_caliper_mean = round(sum(sphere_caliper) / len(sphere_caliper), 2)
sphere_micrometer_mean = round(sum(sphere_micrometer) / len(sphere_micrometer), 2)

In [6]:
print(cube_mean)
print(sphere_caliper_mean)
print(sphere_micrometer_mean)

4.43
23.69
23.2

## 2. Mutlak Hata

$$ AE  = |x_i - \overline{x}| $$

In [7]:
cube_absolute_error = get_absolute_error(cube_ruler, cube_mean)
sphere_caliper_absolute_error = get_absolute_error(sphere_caliper, sphere_caliper_mean)
sphere_micrometer_absolute_error = get_absolute_error(sphere_micrometer, sphere_micrometer_mean)

In [8]:
print(cube_absolute_error)
print(sphere_caliper_absolute_error)
print(sphere_micrometer_absolute_error)

[0.02, 0.03, 0.02, 0.03, 0.02, 0.02, 0.03, 0.02, 0.03, 0.02]
[0.67, 0.01, 0.11, 0.15, 0.21, 0.01, 0.11, 0.01, 0.11, 0.01]
[0.14, 0.15, 0.29, 0.28, 0.27, 0.19, 0.29, 0.29, 0.18, 0.14, 0.17, 0.2, 0.18, 0.13, 0.12, 0.09, 0.17, 0.18, 0.29, 0.27]

## 3. Bağıl Hata

$$ RE = \frac{|x_i - \overline{x}|}{|x_i|} $$

In [9]:
cube_relative_error = get_relative_error(cube_ruler, cube_mean)
sphere_caliper_relative_error = get_relative_error(sphere_caliper, sphere_caliper_mean)
sphere_micrometer_relative_error = get_relative_error(sphere_micrometer, sphere_caliper_mean)

In [10]:
print(cube_relative_error)
print(sphere_caliper_relative_error)
print(sphere_micrometer_relative_error)

[0.0, 0.01, 0.0, 0.01, 0.0, 0.0, 0.01, 0.0, 0.01, 0.0]
[0.03, 0.0, 0.0, 0.01, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0]
[0.03, 0.03, 0.01, 0.01, 0.01, 0.03, 0.01, 0.01, 0.03, 0.03, 0.03, 0.03, 0.03, 0.03, 0.03, 0.03, 0.03, 0.03, 0.01, 0.01]

Verileri daha rahatça görmek için `pandas.DataFrame` kullanılabilir. Fakat her ölçümün sayısı eşit olmadığı için, eksik kalan kısımlar `numpy.pad` fonksiyonu ile `np.nan` olarak gösterilecektir.

### Mutlak Hata Tablosu

In [11]:
absolute_error_dataframe

    Küp Mutlak Hata  Küre Kumpas Mutlak Hata  Küre Mikrometre Mutlak Hata
0              0.02                     0.67                         0.14
1              0.03                     0.01                         0.15
2              0.02                     0.11                         0.29
3              0.03                     0.15                         0.28
4              0.02                     0.21                         0.27
5              0.02                     0.01                         0.19
6              0.03                     0.11                         0.29
7              0.02                     0.01                         0.29
8              0.03                     0.11                         0.18
9              0.02                     0.01                         0.14
10              NaN                      NaN                         0.17
11              NaN                      NaN                         0.20
12              NaN                      NaN                         0.18
13              NaN                      NaN                         0.13
14              NaN                      NaN                         0.12
15              NaN                      NaN                         0.09
16              NaN                      NaN                         0.17
17              NaN                      NaN                         0.18
18              NaN                      NaN                         0.29
19              NaN                      NaN                         0.27

### Bağıl Hata Tablosu

In [12]:
relative_error_dataframe

    Küp Bağıl Hata  Küre Kumpas Bağıl Hata  Küre Mikrometre Bağıl Hata
0             0.00                    0.03                        0.03
1             0.01                    0.00                        0.03
2             0.00                    0.00                        0.01
3             0.01                    0.01                        0.01
4             0.00                    0.01                        0.01
5             0.00                    0.00                        0.03
6             0.01                    0.00                        0.01
7             0.00                    0.00                        0.01
8             0.01                    0.00                        0.03
9             0.00                    0.00                        0.03
10             NaN                     NaN                        0.03
11             NaN                     NaN                        0.03
12             NaN                     NaN                        0.03
13             NaN                     NaN                        0.03
14             NaN                     NaN                        0.03
15             NaN                     NaN                        0.03
16             NaN                     NaN                        0.03
17             NaN                     NaN                        0.03
18             NaN                     NaN                        0.01
19             NaN                     NaN                        0.01

## 4. Standart Sapma ($\sigma $)

$$ \sigma = \sqrt{\sum_{i=1}^{N} \frac{(x_i - \overline{x})^2}{N - 1} } $$

In [13]:
cube_std = standard_deviation(cube_ruler, cube_mean, len(cube_ruler))
sphere_caliper_std = standard_deviation(sphere_caliper, sphere_caliper_mean, len(sphere_caliper))
sphere_micrometer_std = standard_deviation(sphere_micrometer, sphere_micrometer_mean, len(sphere_micrometer))

In [14]:
print(cube_std)
print(sphere_caliper_std)
print(sphere_micrometer_std)

0.02581988897471602
0.24770053604212405
0.2167705553902796

### Standart Deviasyon Tablosu

In [15]:
std_df

   Küp Std  Küre Kumpas Std  Küre Mikrometre Std
1  0.02582         0.247665             0.216749

## 5. Kürenin Hacmi ($V$)

$$ V = \frac{4}{3}\pi R^3$$

In [16]:
sphere_caliper_volume = sphere_volume(sphere_caliper)
sphere_micrometer_volume = sphere_volume(sphere_micrometer)

Her bir ölçüme denk gelen yarıçap için hacim hesabı.

In [17]:
print(sphere_caliper_volume)
print(sphere_micrometer_volume)

[48.21297525709135, 49.63716392671873, 49.84660343695805, 49.93037924105378, 50.05604294719736, 49.595276024670866, 49.84660343695805, 49.63716392671873, 49.84660343695805, 49.63716392671873]
[48.29675106118708, 48.27580711016315, 49.197340955216156, 49.176397004192225, 49.15545305316829, 48.19203130606743, 49.197340955216156, 49.197340955216156, 48.21297525709135, 48.29675106118708, 48.23391920811529, 48.17108735504349, 48.21297525709135, 48.31769501221102, 48.33863896323494, 48.40147081630674, 48.23391920811529, 48.21297525709135, 49.197340955216156, 49.15545305316829]

### Küre Hacim Tablosu

In [18]:
sphere_volume_df

    Küre Kumpas Hacim  Küre Mikrometre Hacim
0           48.212975              48.296751
1           49.637164              48.275807
2           49.846603              49.197341
3           49.930379              49.176397
4           50.056043              49.155453
5           49.595276              48.192031
6           49.846603              49.197341
7           49.637164              49.197341
8           49.846603              48.212975
9           49.637164              48.296751
10                NaN              48.233919
11                NaN              48.171087
12                NaN              48.212975
13                NaN              48.317695
14                NaN              48.338639
15                NaN              48.401471
16                NaN              48.233919
17                NaN              48.212975
18                NaN              49.197341
19                NaN              49.155453